:root {
  --semi-dark: #666666;
  --text:black;
  --blueis: ##0088CC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tabs {
  display: flex;
  background-color: var(--dark-background);
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;
  color: var(--text);
  align-items: center;
}
.details {
  width: 60%;
  height: 70%;
}

.nav {
  font-size: 100%;
  background-color: var(--semi-dark);
  border-bottom: 1px solid white;
  z-index: 1;
}

.nav a {
  color:white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  color:var(--text);
  border-top: 1px solid white;
}





