:root {
  --semi-dark: #666666;
  --text: black;
  --blueis: ##0088cc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 60vh;
  color: var(--text);
}

.title {
  width: 50vw;
}

.details {
  height: 70%;
  width: 100vw;
}

.nav {
  font-size: 100%;
  background-color: var(--semi-dark);
  border-bottom: 1px solid white;
}

.nav a {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  color: var(--text);
  position: fixed;
  width: 100%;
  bottom: 0;
}
