@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --semi-dark: #666666;
  --text: black;
  --blueis: ##0088cc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.project-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  background: black;
  justify-content: space-around;
}

.projects {
  display: flex;
  color: black;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
